.loader__wrapper {
    background-color: rgb(from var(--color-background) r g b / .6);
}

.loader__inner {
    position: relative;
}

.loader__spinner {
    --width: 40%;

    position: absolute;

    top: 0;
    bottom: 0;

    height: unset;
    width: 100%;

    border: unset;
    border-radius: unset;
    background-image: linear-gradient(to left, transparent, var(--color-tertiary), transparent);
    background-repeat: no-repeat;
    background-size: var(--width) 100%;

    animation: loading-animation 2s ease-in-out infinite;

    opacity: .25;

    z-index: -1;
}

@media (min-width: 1000px) {
    .loader__spinner {
        --width: 50%;
        animation: loading-animation-w-opacity 1.5s ease-in-out infinite;
    }
}

@keyframes loading-animation {
    0% {
        background-position: calc(0px - 2 * var(--width)) 0;
    }

    100% {
        background-position: calc(100% + 2 * var(--width)) 0;
    }
}

@keyframes loading-animation-w-opacity {
    0% {
        background-position: 0% 0;
        opacity: 0;
    }

    50% {
        opacity: .25;
    }

    100% {
        background-position: 100% 0;
        opacity: 0;
    }
}

.loader__text {
    text-shadow: 0px 0px .5em var(--color-background);
}